<div class='row'>
  <% unless tasklists.nil? %>
  <% tasklists.each do |tasklist| %>
  <div class='col-3'>

    <div class="card">
      <div class='card-header'>
        <div class='row'>
          <div class='col-10'>
            <b><%= tasklist.name %></b>
          </div>
          <div class='col-2'>
            <%= content_tag 'a', image_tag('icons/edit', size: '20'), class: 'tasklist-' + tasklist.id.to_s, 'data-toggle': 'popover', 'data-placement': 'top', 'data-trigger':'click', tabindex: "0", 'data-content': "#{render partial: 'tasklists/tasklist_edit', locals: {tasklist: tasklist}}" %>
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Task</th>
              <th scope="col">Due date</th>
            </tr>
          </thead>
          <tbody>
            <% tasklist.tasks.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.due_date.strftime("%-d %b") %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <% end %>
  <% end %>
</div>
