<h1 class='section-title text-center'>New Tasklist</h1>

  <%= simple_form_for @tasklist, url: tasklists_path, method: :post, html: {class: 'form-horizontal'} do |f| %>
  <%= f.input :name, label: 'Task Name', placeholder: "School"%>
  <%= f.button :submit, "Create Tasklist" %>

<% end %>
