    <p class='flash-notice text-center'><%= flash[:notice] %></p>

    <div class='text-center'>
      <h1 class='section-title'><%= @tasklist.name %></h1>
      <br />
      <p>Last updated: <%= @tasklist.updated_at %></p>
    </div>

  </div>
</div>
